* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #0f68d8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    width: 1200px;
    height: 630px;
    box-shadow: 0px 48px 128px rgba(0, 0, 0, 0.4);
    display: flex;
    position: absolute;
}

.section-one {
    flex-basis: 40%;
    background: linear-gradient(324.93deg, #007AFF 0.74%, #0F70DA 100%);
    width: 100%;
    height: 100%;
    text-align: center;
}

.section-two {
    flex-basis: 60%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one h4 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    padding: 30px 0;
}

.section-one img {
    width: 430px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    cursor: pointer;
}

.section-one img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.section-one .svg {
    cursor: pointer;
    margin-top: 20px;
    width: 52px;
}

.section-two .part {
    margin-top: -100px;
    width: 100%;
    height: 100%;
    width: 570px;
    height: 460px;
    /* background-color: antiquewhite; */
    padding: 14px;
}

.section-two .part h1 {
    font-size: 22px;
    font-weight: 600;
    color: #111;
}

.section-two .part h3 {
    font-size: 12px;
    font-weight: 500;
    color: #111;
    margin-top: -4px;
}

.section-two .part .form {
    margin: 30px -22px 0px;
    /* background: #007AFF; */
    height: 220px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.section-two .part .form .in {
    /* background: red; */
    margin: 0 24px;
    width: 220px;
    height: 60px;
}

.section-two .part .form .in input {
    border: 1.4px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 3px;
    width: 250px;
    height: 38px;
    font-size: 13px;
    padding: 17px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.section-two .part .form .in p {
    margin: 2px;
    font-size: 12px;
    color: rgb(255, 1, 1);
    font-weight: 500;
    opacity: 0;
}


.section-two .part .three {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-color:brown; */
    height: 30px;
    width: 97%;
}

.section-two .part .three .one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}

.section-two .part .three .one p {
    margin: 4px;
    font-size: 13px;
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.section-two .part .three .one p:nth-child(1) {
    cursor: pointer;
    color: #007AFF;
}

.section-two .part .three .one p:nth-child(1):hover{
    text-decoration: underline;
}

.section-two .part .one p {
    margin: 4px;
    font-size: 13px;
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.section-two>.part>.one {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4px;
}

.section-two .part .link {
    margin-top: 5px;
    width: 100%;
    height: 70px;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a {
    padding: 6px 51px;
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CA {
    background: rgba(0, 122, 255, 1);
    padding: 6px 51px;
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#CA:hover {
    box-shadow: 0 0 6px   #007AFF, 0 0 10px #007AFF , 0 0 20px #007AFF;
}

#SI {
    background: rgba(45, 55, 72, 1);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#SI:hover {
    box-shadow: 0 0 6px   rgba(45, 55, 72, 1), 0 0 10px rgba(45, 55, 72, 1) , 0 0 20px rgba(45, 55, 72, 1);
}

#SI img {
    margin-right:  8px;
}

#log-in{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #111;
}

#log-in a {
    text-decoration: none;
    color: #007AFF;
}

#log-in a:hover{
    text-decoration: underline;
}

#button{
    cursor: pointer;
    width: 230px;
    text-align: left;
    margin-top: 50px;
}

.img-box{
    display: flex;
    justify-content: center;
}




